In [1]:
#creating empty tuple
empty_tuple=()
print(empty_tuple)

()

In [5]:
valuetuple=26,45,32
print(valuetuple)

(26, 45, 32)

In [3]:
#creating tuple with different data type
valuetuple=(26,45,'hello')
print(valuetuple)

(26, 45, 'hello')

In [11]:
value=tuple('hello')
print(value,type(value))

('h', 'e', 'l', 'l', 'o') <class 'tuple'>

In [13]:
value=('hello',)
print(value)

('hello',)

In [21]:
#cannot change the tuple
value=(26,45,78)
value[1]=9
print(value)

TypeError: 'tuple' object does not support item assignment

In [17]:
#printing 2 tuple
value1=(26,45,'hello')
valu2=4,56,'python'
print(value1+valu2)

(26, 45, 'hello', 4, 56, 'python')

In [15]:
#adding two tuple
value1=(26,45,'hello')
extra=8,9
value2=7,5.6,'pyhton',extra
value3=value1,value2
print(value3)

((26, 45, 'hello'), (7, 5.6, 'pyhton', (8, 9)))

In [19]:
#Concatenation tuple with itself
value=(26,45,'heelo')*2
print(value)

(26, 45, 'heelo', 26, 45, 'heelo')

In [23]:
#accessing the value with index no
value=(26,45,'hello',7.5)
print(value[3])

7.5

In [27]:
#slicing the tuple with starting value
value=(26,45,'hello',4.8)
print(value[2:])

('hello', 4.8)

In [29]:
#slicing the tuple with stop value
value=(26,45,'hello',4.8)
print(value[:3])

(26, 45, 'hello')

In [41]:
value=(26,45,'hello',7.5,'z',6.9,5)
print(value[:4])

(26, 45, 'hello', 7.5)

In [31]:
# access the value with negative value
value=(26,45,'hello',7.5,'z',6.9,5)
print(value[-1])

5

In [33]:
#access the value with negative stop value and step value
value=(26,45,'hello',7.5,'z',6.9,5)
print(value[:-4:-1])

(5, 6.9, 'z')

In [49]:
value=(26,45,'hello',7.5,'z',6.9,5)
print(value[:-4])

(26, 45, 'hello')

In [51]:
value=(26,45,'hello',7.5,'z',6.9,5)
print(value[-4:])

(7.5, 'z', 6.9, 5)

In [53]:
value=(26,45,'hello',7.5,'z',6.9,5)
print(value[::-2])

(5, 'z', 'hello', 26)

In [55]:
value=(26,45,'hello',7.5,'z',6.9,5)
print(value[1::3])

(45, 'z')

In [57]:
value=(26,45,'hello',7.5,'z',6.9,5)
print(value[-1::-2])

(5, 'z', 'hello', 26)

In [59]:
value=(26,45,'hello',7.5,'z',6.9,5)
print(value[1:6:2])

(45, 7.5, 6.9)

In [67]:
value=(26,45,'hello',7.5,'z',6.9,5)
del(value)
value=6,3
#tuple deleted now there is no tuple by that name so will give error
print(value)

(6, 3)

In [1]:
tuple=('hii')
n=3
for i in range(int(n)):
    tuple=(tuple,)
    print(tuple)

('hii',)
(('hii',),)
((('hii',),),)

In [3]:
tuple=('developer', 5,8.9,'r',8)
print(len(tuple))

5

In [11]:
tuple=(9,5,89,4,8)
print(max(tuple))
print(min(tuple))
print(sum(tuple))
print(sorted(tuple))

89
4
115
[4, 5, 8, 9, 89]

In [31]:
#any means if any one is true is true like or
tuple=(4,1)
print(any(tuple))
a=(0,)
print(any(a))

True
False

In [33]:
#all means every one should true like and
tuple=(4,1)
print(all(tuple))
a=(0,5,7)
print(all(a))
b=()
print(all(b))

True
False
True

In [37]:
tuple=('appple','byte','computer')
for i in tuple:
    print(i)

appple
byte
computer

In [39]:
tuple=('appple','byte','computer')
n=2
for i in range(n):
    print(tuple[i])

appple
byte

In [41]:
tuple=('appple','byte','computer')
print(list(tuple))

['appple', 'byte', 'computer']

In [47]:
tuple=(3,7,'p','y','z',9.5,'y')
print(tuple.count(9))
print(tuple.count('y'))

0
2

In [49]:
tuple=(3,7,'p','y','z',9.5,'y')
print(tuple.index(7))
print(tuple.index('y'))

1
3